---
layout: default
---
<h1>Featured Projects</h1>

<div id="archives">
  <div class="archive-group">
    {% assign my_counter = "zero" %}
    {% assign posts = site.categories.Featured | sort: "date" %}
    {% for post in posts  %}
      {% if my_counter == "zero" %}
        <div class="grid">
      {% endif %}
      <div class="col-1-2">
        <div class="content">
          <article class="archive-item">
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
	    <a href="{{ site.baseurl }}{{ post.url }}"{{post.title}}><img src="{{ site.baseurl }}{{ post.featured-image }}"></a>
          </article>
        </div>
      </div>
      {% if my_counter == "zero" %}
        {% assign my_counter = "one" %}
      {% elsif my_counter == "one" %}
        {% assign my_counter = "two" %}
      {% elsif my_counter == "two" %}
        {% assign my_counter = "zero" %}
        </div>
      {% endif %}
    {% endfor %}
    {% unless my_counter == "zero" %}
      </div>
    {% endunless %}
</div>

<div class="posts">
<h1>Chronological Feed</h1>
  {% for post in site.posts %}
    <article class="post">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <a href="{{ site.baseurl }}{{ post.url }}"{{post.title}}><img src="{{ site.baseurl }}{{ post.featured-image }}" width="200" ></a>
    </article>
  {% endfor %}
</div>
